<div class="container">
    <div class="trading-card">
        <header [style.background-color]="characterColour">
            <p [innerHTML]="characterName"></p>
        </header>
        <img [src]="characterImageSrc">
        <footer [style.background-color]="characterColour">
            <p [innerHTML]="characterDescription"></p>
        </footer>
    </div>
    <div class="form">
        <label>Character Name</label><br>
        <input [(ngModel)]="characterName"><br>
        <label>Description</label><br>
        <textarea [(ngModel)]="characterDescription"></textarea><br>
        <label>Image</label><br>
        <input type="file" id="fileUpload"><br>
        <label>Primary Colour</label><br>
        <input type="color" [(ngModel)]="characterColour"><br>
    </div>
</div>